<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/landing">QuakeQuest</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/landing">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/analytics">Analytics</a>
                </li>
                
                <!-- buttons that change by session status-->
                <li class="nav-item" id="account"></li>
                <li class="nav-item" id="login"></li>
                <li class="nav-item" id="logout"></li>
                <li class="nav-item" id="admin"></li>
                <li class="nav-item" id="analytics"></li>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        
                        let sessionEmail = '{{ session["email"] }}';
                        let sessionAdmin = '{{ session["admin"] }}';
                        account = document.getElementById("account");
                        login = document.getElementById("login");
                        logout = document.getElementById("logout");
                        admin = document.getElementById("admin");
                        // check if session email exists

                        if (sessionEmail === undefined || sessionEmail === "") {
                            logout.innerHTML = '<li class="nav-item"><a class="nav-link" href="/login">Sign In</a></li>';
                        } else {
                            account.innerHTML = '<li class="nav-item"><a class="nav-link" href="/account">Account</a></li>';
                            login.innerHTML = '<li class="nav-item"><a class="nav-link" href="/logout">Sign Out</a></li>';
                        }
                        console.log(sessionAdmin);
                        if (sessionAdmin) {
                            admin.innerHTML = '<li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>';
                        }
                    });
                </script>
                </li>
            </ul>
        </div>
    </div>
</nav>
